@font-face {
    font-family: 'cursive';
    src: url('../../assets/AnandaBlackPersonalUseRegular-rg9Rx.ttf');
  }
  
.img-displayer{
width: 100vw;
height : 100vh;
background : transparent;
backdrop-filter: blur(25px);
position : fixed;
display: flex;
justify-content: center;
align-Items : center;
overflow : hidden;
}
.gallery-header{
    display:flex;
    align-items:center;
    justify-content: center;
}
.gallery-text{
    font-family: cursive !important;
}